#mask{
position:absolute; /* important */
top:0px; /* start from top */
left:0px; /* start from left */
height:100%; /* cover the whole page */
width:100%;  /* cover the whole page */
background-color:#000;
opacity: 1;
}

#mask .fading{
opacity: 0;
}

#playerIcon {
  position: absolute;
  background-image: url(../images/hiker_icon.gif) no-repeat;
  background-color: white;
  border:1px solid black;
  left: 290px;
  top: 450px;
  width: 20px;
  height: 20px;
}

#background{
	background: url(../images/bg_lagoon.jpg) no-repeat;
	width:800px;
	margin:0 auto;
}

#playarea{
	background-color: black;
	width:800px;
	height: 625px;
	margin: 0;
	position: relative;
}

#map{
	/*width:600px;
	height: 525px;*/
	position: absolute;
	top:0;
	left:0;
}

#aside{
	width:160px;
	padding:20px;
	height: 485px;
	position:absolute;
	left:600px;
	top:0;
	background:url(../images/bg_aside.jpg) no-repeat;
	color:black;
	text-align: center;
}

#aside .transpBox{
	width:160px;
	height:485px;
	background-color:#ffffff;
	border:1px solid black;
	opacity:0.75;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

#aside .transbox p
  {
  position:relative;
  margin:20px;
  font-weight:bold;
  color:#000000;
}

#controlBar{
	width:800px;
	height:100px;
	position: absolute;
	left:0;
	top:525px;
	background:url(../images/bg_driftwood.jpg) no-repeat;
}

#inv{
	position:absolute;
	left:50px;
	top:34px;
}
	
#btn_west{
	position:absolute;
	left:224px;
	top:33px;
}

#btn_north{
	position:absolute;
	left:276px;
	top:4px;
}

#hiker{
	position:absolute;
	left:294px;
	top:40px;
}

#btn_east{
	position:absolute;
	left:330px;
	top:33px;
}

#btn_south{
	position:absolute;
	left:275px;
	top:62px;
}

/* #btn_forceSleep{  // Probably don't need this. just use one sleep btn
	position:absolute;
	left:50%;
	top: 50%;
} */

#actions{
	width:200px;
	height:55px;
	padding:10px;
	position: absolute;
	right:50px;
	top:5px;
	/*maybe add a bamboo frame border or background image?  Or add that to the entire footer?*/
}

#controlBar a{
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 6px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-box-shadow: 2px 2px 4px #9e7c41;
  -moz-box-shadow: 2px 2px 4px #9e7c41;
  text-shadow: 2px 2px 3px #666666;
  border: solid #753c00 5px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#8afa3f), to(#308002));
  background: -moz-linear-gradient(top, #8afa3f, #308002);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8afa3f, endColorStr=#308002);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8afa3f, endColorStr=#308002);
  display:inline-block; /* IE */
  cursor:pointer;
}
.button:hover {
  background: #69c229;
}


.PlayerCond{
	width:200px;
	height:40px;
	position: absolute;
	left:620px;
	top:5px;
}

#output-span, #mapLocale, #turnClock{
	position:relative;
	margin:10px 0;
	padding:5px 0;
	border-bottom:2px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#timeOfDay{
	font-weight:bold;
}

#footer{
	width: 800px;
	height: 100px;
	margin:0 auto;
	background-color: white;
	color:navy;
	clear:both;
}